# Laravel & System ignores
ecommerce13/vendor/
ecommerce13/node_modules/
ecommerce13/public/storage
ecommerce13/storage/*.key
ecommerce13/.env
.phpunit.result.cache

# Binary and Large files
*.zip
*.rar
*.gz
*.tar
*.7z
*.sql
*.exe
*.log
